name: Makefile CI

on:
  push:
    branches: [ "main", "initial_content" ]
  pull_request:
    branches: [ "main" , "initial_content"]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # - name: Install dependencies
    #   run: make backstage-install
